<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transactionvendor:</strong>
    <%= transaction.transactionVendor %>
  </p>

  <p>
    <strong>Transactiondate:</strong>
    <%= transaction.transactionDate %>
  </p>

  <p>
    <strong>Transactiontype:</strong>
    <%= transaction.transactionType %>
  </p>

  <p>
    <strong>Transactionamount:</strong>
    <%= transaction.transactionAmount %>
  </p>

  <p>
    <strong>Transactioncategory:</strong>
    <%= transaction.transactionCategory %>
  </p>

</div>
