<div id="<%= dom_id user %>">
  <p>
    <strong>Useremail:</strong>
    <%= user.userEmail %>
  </p>

  <p>
    <strong>Userpassword:</strong>
    <%= user.userPassword %>
  </p>

  <p>
    <strong>Userfirstname:</strong>
    <%= user.userFirstName %>
  </p>

  <p>
    <strong>Userlastname:</strong>
    <%= user.userLastName %>
  </p>

  <p>
    <strong>Userrole:</strong>
    <%= user.userRole %>
  </p>

</div>
